<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="font-family: Roboto; font-size: 12pt">
        Hello <b>{UserName}</b>,<br>
        <h3>Your monthly statistics is here!</h3>
        <h4>{Month} statistics.</h4>
        <p>
            Tasks created in this month: {CreatedTasks}.<br>
            Completed tasks: {CompletedTasks}.<br>
            Pending tasks: {PendingTasks}.
        </p>
        <p>Your busiest day was {BusiestDay}, and the freest day was {FreestDay}.</p>
        <p>Good luck and keep working.</p>
        Respectfully,Taskish.
    </div>
</body>
</html>